.title {
    font-size: 20px;
    width: 650px;
    font-weight: bold;
    line-height: 50px;
}

.subtitle {
    font-size: 16px;
    width: 650px;
    text-align: justify;
    line-height: 20px;
}

.formBMI {
    background-color: #80ecfa;
    border-radius: none;
    box-sizing: border-box;
    height: 350px;
    padding: 15px;
    width: 50%;
    text-align:justify;
}

.jenisKelamin {
    font-weight: bold;
    line-height: 30px;
}

.beratBadan {
    font-weight: bold;
    line-height: 30px;
}

#beratBadan {
    width: 100%;
}

.usia {
    font-weight: bold;
    line-height: 30px;
}

#usia {
    width: 100%;
}

.tinggiBadan {
    font-weight: bold;
    line-height: 30px;
}

#tinggiBadan {
    width: 100%;
}

.hasil {
    font-size: 20px;
    width: 650px;
    font-weight: bold;
    line-height: 50px;

.hasilBMI {
    font-weight: bold;
    line-height: 30px;
    border: none;
}